.container {
    color: white;
    
}

.netflix_logo {
    width: 90px;
    height: 50px;;
}

h1 {
    align-items: center;
    color: white;
}

body {
    background-color: rgb(21,21,22);
    
}

.page {
    -ms-flex-item-align: center;
}

.profile {
    width: 100px;
    height: 100px;

}
hr {
    color: white;
    height: 0.5px;
    
}

#logo{
    background-image: url("assets/strive.png");
    width: 130px;
    height: 130px;
    background-size: 100%;
    position: relative;
}
